<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-44071631-2', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>

    {% if page.url == "/" %}<title>{{ site.description }}</title>{% else %}<title>{{ page.title | default: site.title }}</title>{% endif %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" href="/favicon.png">

    <script data-ad-client="ca-pub-2026571203025921" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>

  <body>
<!--    {% include cookie-consent.html %}-->

    <header>
      <div class="container">
        <a href="/" style="text-decoration: none;">
          <h3>{{ site.title | default: site.github.repository_name }}</h3>
        </a>
        <h4>{{ site.description | default: site.github.project_tagline }}</h4>

        <section id="downloads">
          {% if site.show_downloads %}
            <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
            <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
          {% endif %}
          <a href="/" class="btn">Home</a>
          <a href="/shop" class="btn">Shop</a>
          <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View on GitHub</a>
        </section>
      </div>
    </header>

    <div class="container">
      <section id="main_content" class="{% if page.url == '/' %}home{% endif %}">
        {{ content }}
      </section>
    </div>

    <footer class="container" style="padding-bottom: 1rem;">
      <small>
        <a href="/about">About & Contact</a> · <a href="/privacy">Terms & Privacy</a> · MIT License
      </small>
    </footer>
  </body>
</html>
